.container{
    padding: 2rem;
    display: flex;
}

.logo{
    display: flex;
    align-items: center;
    flex: 1;
    gap: 1rem;
}
.logo > img{
    width: 2.5rem;
    height: 2.5rem;
}
.logo > span{
    font-weight: 600;
}

.right{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.menu{
    display: flex;
    gap: 2rem;
    font-weight: 500;
    list-style: none;
}

.search{
    width: 7rem;
    height: 30%;
    outline: none;
    border: 1.5px solid #000;
    border-radius: 0.4rem;
    padding: 0.5rem;
}

.cart{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.burger{
    display: none;
}


@media screen and (max-width:856px) {
    .search{
        display: none;
    }
    .right{
        gap: 1rem;
    }
}

@media screen and (max-width: 640px) {
    .right{
        flex-direction: column;
        position: absolute;
        padding: 1rem;
        right: 2rem;
        z-index: 9999;
        color: var(--black);
        background: #fff;
        border-radius: 0.313rem;
    }

    .menu{
        display: none;
        flex-direction: column;
        margin-left: -2rem;
    }

    .burger{
        display: block;
    }

    .search{
        display: none;
    }
}
