.cFooterWrapper{
    margin-top: 5rem;
    width: 100%;
}
.cFooterWrapper > hr{
    margin-top: 1rem;
    width: 100%;
    height: 0.063rem;
    background: #fff;
    border: none;
}

.cFooter{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.logo{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}
.logo > img{
    width: 2.5rem;
    height: 2.5rem;
}
.logo > span{
    font-size: 1rem;
    font-weight: 600;
}

.block{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 12rem;
}

.detail{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: inherit;
    font-size: 0.7rem;
    font-style: italic;
}
.detail > span:nth-of-type(1){
    font-size: 1.2rem;
    font-weight: 500;
    font-style: normal;
}

.pngLine{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.pngLine:hover{
    cursor:pointer;
}

.icon{
    width: 1.563rem;
    height: 1.563rem;
}

.copyRight{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 100%;
    text-align: center;
    font-size: 0.65rem;
}

@media screen and (max-width: 768px) {
    .cFooter{
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        font-size: 1.7rem;
        gap: 2rem;
    }
}

@media screen and (max-width: 640px){
    .cFooter{
        justify-content: center;
    }
    .logo{
        display: none;
    }
}
