.testimonials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: flex-end;
    width: 100%;
}
.wrapper > img{
    justify-self: center;
    width: 25rem;
}
.wrapper > :nth-child(3){
    text-align: right;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.container > :nth-child(1){
    display: block;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}
.container > :nth-child(2){
    display: block;
    font-size: 0.8rem;
    text-transform: uppercase;
}